﻿@page "{id:int?}"
@model ProjectPRN221_Group5.Pages.Product.DetailModel

 <link href="~/css/DetailPhotocss.css" rel="stylesheet" />
<div id="content-detail">
    @*<div id="content-title">
        <a href="~/Index">Home</a> >
        <a href="~/Index?id=@Model.Product.CategoryId">@Model.Product.Category.CategoryName</a> >
        @Model.Product.ProductName
    </div>*@
    <div id="product">
        <div id="product-name">
            <h2>@Model.Product.ProductName</h2>
            <div id="product-detail">
                <div id="product-detail-left">
                    <div id="product-img">
                        <img src="~/img/fooddemo.jpg" />
                    </div>
                   
                </div>
                <div id="product-detail-right">
                    <div id="product-detail-right-content">
                        <a1 style="color: black;
                                        font-size: 25px;
                                        font-weight: bold;
                                        margin-bottom: 10px;
                                        width: 100%;">
                            Price:
                        <div id="product-price">@Model.Product.UnitPrice USD</div>
                        </a1>
                        @if (Model.Product.UnitsInStock > 0)
                        {
                            <div id="product-status">In stock</div>
                            <div> <span class="msg-success">@TempData["success"]</span><br /></div>
                            <div> <span class="msg-error">@TempData["fail"]</span><br /></div>
                            <div id="product-detail-buttons">
                                <div id="product-detail-button">
                                    <a href="~/Cart/CartControl?id=@Model.Product.ProductId">
                                        <input href="~/Cart/CartControl?id=@Model.Product.ProductId" type="button" value="BUY NOW">
                                    </a> <br/>
                                    <a href="/Cart/CartControl?id=@Model.Product.ProductId">
                                        <input href="~/Cart/CartControl?id=@Model.Product.ProductId" type="button" value="ADD TO CART" style="background-color: orange; color:white;border: 1px solid gray;">
                                    </a>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="product-status">Not in stock</div>
                        }
                    </div>
                    <div id="info-detail">
                    <div id="info-detail-title">
                        <h2>Deltail Product</h2>
                        <div style="margin:10px auto;">
                            Group 5 FOOD
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   
</div>
