﻿@page
@model ProjectPRN221_Group5.Pages.Product.ListProductModel

<link href="~/css/styleLProduct.css" rel="stylesheet" />
<style>
    /* CSS cho thanh điều hướng */
    #content-left {
        width: 15%;
        margin-right: 5px;
		background-color: gold;
    }

    #content-left h3 {
        border-bottom: 1px solid lavenderblush; 
        text-align: center;
        padding: 10px 0px;
        cursor: pointer; /* Thêm đường kẻ chấm chấm để biểu thị tính năng chọn */
    }

    #content-left ul {
        list-style: none;
        display: none; /* Ẩn danh sách danh mục mặc định */
    }

    #content-left ul.active {
        display: block; /* Hiển thị danh sách danh mục khi được kích hoạt */
    }

    #content-left ul li {
        padding: 10px 0px 10px 10px;
    }

    #content-left ul li:hover {
        background-color: darkmagenta;
        cursor: pointer;
        color: white;
    }

    #content-left ul a {
        color: darkviolet;
        text-decoration: none;
    }
</style>

<div id="content-left">
    <h3 onclick="toggleCategories()">CATEGORY</h3>
    <ul id="category-list">
        @foreach (var item in Model.Categories)
        {
            <li><a href="@Url.Action("ActionName", "ControllerName", new { id = item.CategoryId })">@item.CategoryName</a></li>
        }
        <li>@ViewData["size"]</li>
    </ul>
</div>

<script>
    // JavaScript để xử lý sự kiện khi nhấp chuột vào tiêu đề "CATEGORY"
    function toggleCategories() {
        var categoryList = document.getElementById("category-list");
        categoryList.classList.toggle("active");
    }
</script>

<div id="content-right">

	@if (Model.Products.Count > 0)
	{
		<div class="path">Product</div>

		<div class="content-main">
			@foreach (var item in Model.Products)
			{
				<div class="product">
					<a href="~/Product/Detail?id=@item.ProductId"><img style="width:150px;" src="~/img/fooddemo.jpg" /></a>
					<div class="name"><a href="~/Product/Detail?id=@item.ProductId">@item.ProductName</a></div>
					<div class="price">@item.UnitPrice</div>
					<div><a href="~/Cart/CartControl">Buy now</a></div>
				</div>
			}
		</div>
	}
	else
	{
		

		<div class="path">New Product</div>
		<div class="content-main">
			@foreach (var item in Model.NewProducts)
			{
				<div class="product">
					<a href="~/Product/Detail?id=@item.ProductId"><img style="width:150px;" src="~/img/fooddemo.jpg" /></a>
					<div class="name"><a href="~/Product/Detail?id=@item.ProductId">@item.ProductName</a></div>
					<div class="price">@item.UnitPrice</div>
					<div><a href="~/Cart/CartControl">Buy now</a></div>
				</div>
			}
		</div>
	}

</div>
