﻿@using System.Text.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/css/cssLayout.css" rel="stylesheet" />*@
    <link href="~/css/styleDe.css" rel="stylesheet" />
    <title>Group 5 Buôn FOOD</title> 
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="~/index">
                    <img src="~/img/item.png" />
                </a>
            </div>
            <div id="banner">
                <ul>
                    @if (Context.Session.GetString("admin") != null || Context.Session.GetString("customer") != null)
                    {
                        @*<li><a href="~/">Home</a></li>*@
                        var acc = JsonSerializer.Deserialize<Account>(Context.Session.GetString("customer"));
                        <span style="color: red">Welcome: @acc.Email</span>
                        <li><a href="~/Cart/CartControl">Cart @ViewData["CartSize"]</a></li>
                        <li><a href="~/Account/Profile">Profile</a></li>
                        <li><a href="~/Account/ChangePassword">Change Password</a></li>
                        <li><a href="~/Account/Logout">SignOut</a></li>
                    }
                     else {
                        <li><a href="~/Account/Login">LOGIN</a></li>
                        <li><a href="~/Account/Register">REGISTER</a></li>
                    }

                </ul>
            </div>
        </div>

        <div id="content">
            @RenderBody()
        </div>

        
    </div>
</body>
</html>