﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/styleLayout2.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo-admin">
                Manage of Admin
            </div>
            <div id="banner-admin">
                <ul>
                    @if (Context.Session.GetString("admin") != null || Context.Session.GetString("customer") != null)
                    {
                        var acc = JsonSerializer.Deserialize<Account>(Context.Session.GetString("admin"));
                        <span style="color: red">Welcome: @acc.Email</span>
                       
                        <li><a href="~/Account/Logout">SignOut</a></li>
                    }
                    else
                    {
                        <li><a href="~/Account/Login">LOGIN</a></li>
                        <li><a href="~/Account/Register">REGISTER</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="content-left">
                <ul>
                    <a href="~/Admin/Dashboard/Index">
                    <li>Dashboard</li></a>
                    <a href="~/Admin/Order/List">
                    <li>Orders</li></a>
                    <a href="~/Admin/Product/List">
                    <li>Products</li></a>
                    <a href="~/Admin/Category/List">
                    <li>Categories</li></a>
                </ul>
            </div>
            <div id="content-right">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="/js/JavaScript.js"></script>
</body>
</html>

