﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Product.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="path-admin">CREATE A NEW PRODUCT</div>
<div class="content-main">

    <form method="post" id="content-main-product">
        <div class="content-main-1">

            <label>Product Name:</label><br />
            <input asp-for="Product.ProductName" /><br />
            <span class="msg-error" asp-validation-for="Product.ProductName"></span><br />

            <label>Unit Price:</label><br />
            <input asp-for="Product.UnitPrice" /><br />
            <span class="msg-error" asp-validation-for="Product.UnitPrice"></span><br />

            <label>Quantity Per Unit:</label><br />
            <input asp-for="Product.QuantityPerUnit" /><br />
            <span class="msg-error" asp-validation-for="Product.QuantityPerUnit"></span><br />

            <label>Units In Stock:</label><br />
            <input asp-for="Product.UnitsInStock" /><br />
            <span class="msg-error" asp-validation-for="Product.UnitsInStock"></span><br />
        </div>
        <div class="content-main-1">
            <label>Category:</label><br />
            <select asp-for="Product.CategoryId" asp-items="ViewBag.Category"></select><br />

            <label>Reorder Level:</label><br />
            <input asp-for="Product.ReorderLevel" disabled type="text"><br />
            <span class="msg-error" asp-validation-for="Product.ReorderLevel"></span><br />

            <label>Units On Order:</label><br />
            <input asp-for="Product.UnitsOnOrder" disabled type="text"><br />
            <span class="msg-error" asp-validation-for="Product.UnitsOnOrder"></span><br />


            @Html.DisplayNameFor(model => model.Product.Discontinued)  <input class="form-check-input" asp-for="Product.Discontinued" /> <br />
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
