﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Product.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Product</h1>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>