﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Product.DetailModel
@{
    ViewData["PageTitle"] = "Product Details";
}

<div class="path-admin">PRODUCT'S DETAILS</div>
<div class="content-main">
    <div class="content-main-1">
        <label>Product Name:</label><br />
        <input asp-for="Product.ProductName" disabled /><br />

        <label>Unit Price:</label><br />
        <input asp-for="Product.UnitPrice" disabled/><br />

        <label>Quantity Per Unit:</label><br />
        <input asp-for="Product.QuantityPerUnit" disabled /><br />

        <label>Units In Stock:</label><br />
        <input asp-for="Product.UnitsInStock" disabled /><br />
    </div>
    <div class="content-main-1">
        <label>Category:</label><br />
        <input asp-for="Category" disabled type="text"><br />

        <label>Reorder Level:</label><br />
        <input asp-for="Product.ReorderLevel" disabled type="text"><br />

        <label>Units On Order:</label><br />
        <input asp-for="Product.UnitsOnOrder" disabled type="text"><br />

        @Html.DisplayNameFor(model => model.Product.Discontinued)  <input class="form-check-input" asp-for="Product.Discontinued" disabled/> <br />
    </div>
</div>
