﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Product.ListModel 
@{
    ViewData["Title"] = "List";
}
@{
    var pagingmodel = new ProjectPRN221_Group5.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = Model.countPages,
                generateUrl = (int? currentPage) => Url.Page("/Admin/Product/List", new { currentPage = currentPage, search = Model.search, categoryChoose = Model.categoryChoose })
            };
    var categoryChoose = Model.categoryChoose;
}
@{
    // Kiểm tra xem TempData có chứa thông báo hay không
    var msg = TempData["msg"] as string;
}
@if (!string.IsNullOrEmpty(msg))
{
    <div class="alert alert-success">@msg</div> <!-- Hiển thị thông báo thành công -->
}
<div class="path-admin">PRODUCTS LIST</b></div>
<div class="content-main">
    <div id="content-main-dashboard">
        <div id="product-title-header" style="padding-bottom: 50px;">
            <div id="product-title-1" style="width: 25%;">
                <b>Filter by Catetory:</b>
                <form method="get" asp-page="./Index">
                    <select asp-for="categoryChoose">
                        <option>--- Select ---</option>
                        @foreach (var cate in Model.Categories)
                        {
                            int id = @cate.CategoryId;
                            <option value="@cate.CategoryId">@cate.CategoryName</option>
                        }
                    </select>
                    <input type="submit" value="Filter">
                </form>
            </div>
            <div id="product-title-2" style="width: 55%;">
                <form method="get" asp-page="./Index">
                    <input asp-for="search" type="text" placeholder="Enter product name to search" />
                    <input type="submit" value="Search" />
                </form>
            </div>
            <div id="product-title-3" style="width: 20%;">
                <a href="~/Admin/Product/Create">Create a new Product</a><br>
            </div>
        </div>
        <div id="order-table-admin">
            <table id="orders">
                <tr style ="text-align:center">
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>UnitPrice</th>
                    <th>Unit</th>
                    <th>UnitsInStock</th>
                    <th>Category</th>
                    <th>Discontinued</th>
                    <th></th>
                </tr>
                <tbody id="tableBody">
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td style="text-align: center">
                                <a asp-page="./Detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductId)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.UnitsInStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @if (@item.Discontinued == false)
                                {
                                    <p style="color:red">False</p>
                                }
                                else
                                {
                                    <p style="color:green">True</p>
                                }
                            </td>

                            <td style="text-align: center">
                                <a asp-page="./Update" asp-route-id="@item.ProductId">Update</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="paging">
            <div class="pagination">
                <partial name="_Paging" model="@pagingmodel" />
            </div>
        </div>
    </div>
</div>
