﻿@page
@model ProjectPRN221_Group5.Pages.Cart.CartControlModel
@{
    var items = Model.Items;
    double total = 0;
}
@{
	if (Model.Items == null || Model.Items.Count == 0)
    {
        ViewData["CartSize"] = 0;
    }
    else
    {
        ViewData["CartSize"] = Model.Items.Count;
    }
}
<link href="~/css/cart4.css" rel="stylesheet" />
<div id="cart" style="text-align:center">
    
   <table id="cartTable" border="1">
       <thead>
           <tr>
			   <th>Image</th>
               <th>Product</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Subtotal</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in Model.Items){
                <tr>
					<td style="width:20%; height:20%">
						<img style="width: 35%"  src="~/img/fooddemo.jpg"/>
					</td>
               <td>@item._shoppingProduct.ProductName</td>
               <td>@item._shoppingProduct.UnitPrice</td>
               <td>@item.quantity</td>
               <td>@(item.quantity * item._shoppingProduct.UnitPrice)</td>
               <td>
                        <a href="~/Cart/Delete?id=@item._shoppingProduct.ProductId">Delete</a>
               </td>
                    <td hidden="hidden">@(total += Convert.ToDouble(item.quantity * item._shoppingProduct.UnitPrice))</td>
                </tr>
            }
            
       </tbody>
   </table>
   <div id="cartTotal">
        Total: @total USD
    </div>
   <a href="~/Product/ListProduct">Continue Shopping</a><br />
	<form method="post">
		<div id="customer-info">
			<div id="customer-info-content">
				<h3>CUSTOMER INFORMATION:</h3>
				<div id="customer-info-detail">
					<div id="customer-info-left">
						<input asp-for="Customer.CompanyName" type="text" placeholder="Company name *" /><br />
						<input asp-for="Customer.ContactName" type="text" placeholder="Contact name *" /><br />
					</div>
					<div id="customer-info-right">
						<input asp-for="Customer.ContactTitle" type="text" placeholder="Contact title *" /><br />
						<input asp-for="Customer.Address" type="text" placeholder="Address *" /><br />
					</div>
					<div id="customer-info-left">
						<input asp-for="RequireDate" type="date" placeholder="Require Date" /><br />
					</div>
				</div>
			</div>
		</div>
		<div id="customer-info">
			<div id="customer-info-content">
				<h3>PAYMENT METHODS:</h3>
				<div id="customer-info-payment">
					<div>
						<input type="radio" name="rbPaymentMethod" checked />
						Payment C.O.D - Payment on delivery
					</div>
					
					<div class="msg-error">@ViewData["msg"]</div>
				</div>
			</div>
		</div>

		<div id="cart-order">
			<input style="width: 22%;
				background-color: brown;
				color: #fff;
				margin-bottom: 15px;
				line-height: 40px;
				border-radius: 5px;
				border: none;
				cursor: pointer;" type="submit" value="ORDER" />
		</div>
	</form>

</div>
