﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Category.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>

<h3>Are you sure you want to delete this catgory?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>