﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Category.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<div class="path-admin">CATEGORY'S DETAILS</div>
<div class="content-main">
    <div class="content-main-1">
        <label>Category ID:</label><br />
        <input asp-for="Category.CategoryId" disabled/><br />
        <label>Category Name:</label><br />
        <input asp-for="Category.CategoryName" disabled/><br />
    </div>
    <div class="content-main-1">
        <label>Description:</label><br />
        <input asp-for="Category.Description" disabled/><br />
        <label>Picture:</label><br />
        <input asp-for="Category.Picture" disabled/><br />
    </div>
</div>