﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Category.ListModel
@{
    ViewData["Title"] = "List";
}
@{
    var pagingmodel = new ProjectPRN221_Group5.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = Model.countPages,
                generateUrl = (int? currentPage) => Url.Page("/Admin/Category/List", new { currentPage = currentPage, search = Model.search, categoryChoose = Model.categoryChoose })
            };
    var categoryChoose = Model.categoryChoose;
}
<div class="path-admin">CATEGORIES LIST</div>
<div class="content-main">
    <div id="content-main-dashboard">
        <div id="product-title-header" style="padding-bottom: 50px;">
            <div id="product-title-2" style="width: 55%;">
                <form method="get" asp-page="./Index">
                    <input asp-for="search" type="text" placeholder="Enter category name to search" />
                    <input type="submit" value="Search" />
                </form>
            </div>
            <div id="product-title-2" style="width: 20%;">
                <a href="~/Admin/Category/Create">Create a new Category</a><br>
            </div>
        </div>
        <div id="order-table-admin">
            <table id="orders" style="text-align:center">
                <tr>
                    <th>CategoryID</th>
                    <th>CategoryName</th>
                    <th>Picture</th>
                    <th></th>
                </tr>
                <tbody id="tableBody">
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Detail" asp-route-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryId)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>

                            </td>
                            <td>
                                <a asp-page="./Update" asp-route-id="@item.CategoryId">Update</a> |
                                <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="paging">
            <div class="pagination">
                <partial name="_Paging" model="@pagingmodel" />
            </div>
        </div>
    </div>
</div>