﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Category.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<div class="path-admin">UPDATE CATEGORY</div>
<div class="content-main">

    <form method="post" id="content-main-product">
        <div class="content-main-1">

            <label>Category Name:</label><br />
            <input asp-for="Category.CategoryName" /><br />
            <span class="msg-error" asp-validation-for="Category.CategoryName"></span><br />

        </div>
        <div class="content-main-1">
            <label>Description:</label><br />
            <input asp-for="Category.Description" /><br />
            <span class="msg-error" asp-validation-for="Category.Description"></span><br />

            <label>Picture:</label><br />
            <input asp-for="Category.Picture" disabled/><br />
            <span class="msg-error" asp-validation-for="Category.Picture"></span><br />

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>