﻿@page
@model ProjectPRN221_Group5.Pages.Admin.Order.DetailModel
@{
    ViewData["PageTitle"] = "Order Details";
}
<div class="path-admin">ORDER DETAIL</div>
<div class="content-main">
    <div id="content-main-dashboard">
        <div>
            <div class="profile-order-title">
                <div class="profile-order-title-left">
                    <div>Order ID: @Model.order.OrderId</div>
                    <div>Customer's Company Name: @Model.order.Customer.CompanyName</div>
                    <div>Employee's Name: @Model.order.Employee.FirstName @Model.order.Employee.LastName</div>
                    <div>Order Date: @Model.order.OrderDate</div>
                    <div>Required Date: @Model.order.RequiredDate</div>
                    <div>Shipped Date: @Model.order.ShippedDate</div>
                    <div>Freight: $@Model.order.Freight</div>
                    <div>Ship Name: @Model.order.ShipName</div>
                    <div>Ship Address: @Model.order.ShipAddress</div>
                    <div>Ship City: @Model.order.ShipCity</div>
                    <div>Ship Region: @Model.order.ShipRegion</div>
                    <div>Ship Postal Code: @Model.order.ShipPostalCode</div>
                    <div>Ship Country: @Model.order.ShipCountry</div>
                </div>
                <div class="profile-order-title-right">
                    @if (@Model.order.ShippedDate != null)
					{
                        <span style="color: green;">Completed</span>
					}
					else
					{
                        <span style="color: red;">Pending</span>
					}
                </div>
            </div>
            @foreach (var o in Model.order.OrderDetails)
            {
                <div class="profile-order-content" style="background-color: white;">
                    <div class="profile-order-content-col2">@o.Product.ProductName</div>
                    <div class="profile-order-content-col3">Quantity: @o.Quantity</div>
                    <div class="profile-order-content-col4">$@o.UnitPrice</div>
                    <div class="profile-order-content-col5">Discount: @(o.Discount*100)%</div>
                </div>
            }
        </div>
    </div>
</div>
