﻿@page "{currentPage:int?}"
@model ProjectPRN221_Group5.Pages.Admin.Order.ListModel
@{
	ViewData["PageTitle"] = "Order List";
	var pagingModel = new ProjectPRN221_Group5.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = Model.totalPages,
				generateUrl = (int? currentPage) => (Model.dateFrom == default(DateTime) || Model.dateTo == default(DateTime)) ?
					Url.Page("/Admin/Order/Index", new { currentPage = currentPage })
						: Url.Page("/Admin/Order/List", new { currentPage = currentPage, dateFrom = Model.dateFrom, dateTo = Model.dateTo })

			};
	var dateFrom = Model.dateFrom;
	var dateTo = Model.dateTo;

	ViewData["msg"] = TempData["msg"];
}

<div class="path-admin">ORDERS LIST</div>
<div class="content-main">
	<div id="content-main-dashboard">
		<div id="order-title" style="display: flex;">
			<div>
				<b>Filter by Order date:</b>
				<form method="get">
					From: <input asp-for="dateFrom" type="date" id="dateFrom" onchange="dateChange()" />
					To: <input asp-for="dateTo" type="date" id="dateTo" onchange="dateChange()" />
					<div class="msg-error">@ViewData["msg"]</div>
					<input type="submit" value="Filter">
				</form>
			</div>
		</div>

		<div id="order-table">
			@if (Model.orderList == null || Model.orderList.Count < 1)
			{
				<div style="margin: 1% 2%;" class="msg-error">Not found order(s)!</div>
			}
			else
			{
				<table id="orders">
					<tr>
						<th>OrderID</th>
						<th>OrderDate</th>
						<th>RequiredDate</th>
						<th>ShippedDate</th>
						<th>Employee</th>
						<th>Customer</th>
						<th>Freight($)</th>
						<th>Status</th>
					</tr>
					@foreach (var o in Model.orderList)
					{
						<tr>
							<td><a asp-page="./Detail" asp-route-id="@o.OrderId">@o.OrderId</a></td>
							<td>@o.OrderDate.Value.ToString("dd-MM-yyyy")</td>
							<td>@(o.RequiredDate == null ? "" : o.RequiredDate.Value.ToString("dd-MM-yyyy"))</td>
							<td>@(o.ShippedDate == null ? "" : o.ShippedDate.Value.ToString("dd-MM-yyyy"))</td>
							<td>@(o.EmployeeId == null ? "" : o.Employee.FirstName + " " + o.Employee.LastName)</td>
							<td>@o.Customer.ContactName</td>
							<td>@o.Freight</td>
							@if (o.ShippedDate != null)
							{
								<td style="color: green;">Completed</td>
							}
							else
							{
								<td style="color: red;">Pending</td>
							}
						</tr>
					}
				</table>
			}
		</div>
		<div id="paging">
			<div id="paging">
				<partial name="_Paging" model="@pagingModel" />
			</div>
		</div>
	</div>
</div>

<script>
	function dateChange() {
		var dFrom = document.getElementById("dateFrom").value;
		var dTo = document.getElementById("dateTo").value;
		console.log(link.href);
	}
</script>