﻿@page
@model ProjectPRN221_Group5.Pages.Account.ChangePasswordModel
@{
}<div>
<h1>Change Password</h1>
</div>
<p style="color: red">@ViewData["msg"]</p>
<form method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" placeholder="Enter email" />
        
    </div>
    <div class="form-group">
        <label>Old Pass</label>
        <input type="password" name="oldpass" placeholder="Enter password" />
    </div>
    <div class="form-group">
        <label>New Pass</label>
        <input type="password" name="newpass" placeholder="Enter new password" />
    </div>
    <div class="form-group">
        <label>New Pass Again</label>
        <input type="password" name="newpassagain" placeholder="Enter new password again" />
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
