﻿@page
@model ProjectPRN221_Group5.Pages.Account.ForgotPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<head>
    <title>Forgot Password</title>
</head>
<body style="font-family: Arial, sans-serif;display: flex;justify-content: center;background: rgb(2,0,36);
background: linear-gradient(341deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 24%, rgba(0,212,255,1) 100%);">
    <div style="margin: auto;width: 100%;max-width: 450px;text-align: center;">
        <h1 style="color: #333;font-weight: bold;font-size: 70px; font-family:Courier new;">
            Forgot Password
        </h1>
        <form method="post" style="background-color: #fff;padding: 20px;border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <div style="text-align:left;font-family:Courier new; color: red">@TempData["msg"]</div>
            <label style="font-family:Courier new;margin-top:10px;display: block;text-align: left;margin-bottom: 10px;" for="username">Please enter your registered email</label>
            <input style="width: 100%;padding: 10px;margin-bottom: 20px;border: none;border-radius: 5px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);" asp-for="email">
            <button style="font-size:25px;background-color: #4CAF50;color: white;padding: 10px 20px;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease;" type="submit">
                Send mail
            </button>
            <div style="margin-top:20px">
                <label style="font-family:Courier new">Return</label>
                <a style="font-family:Courier new" href="~/Login">Login</a>
            </div>
            <div style="margin-top:20px">
                <label style="font-family:Courier new">If you don't have an account?</label>
                <a style="font-family:Courier new" href="~/Register">Register</a>
            </div>
        </form>
    </div>
</body>