﻿@page
@model ProjectPRN221_Group5.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<head>
    <title>Login</title>
</head>
<body style="font-family: Arial, sans-serif;display: flex;justify-content: center;background: rgb(2,0,36);
background: linear-gradient(341deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 24%, rgba(0,212,255,1) 100%);">
    <div style="margin: auto;width: 100%;max-width: 450px;text-align: center;">
        <h1 style="color: #333;font-weight: bold;font-size: 70px; font-family:Courier new">
            Login
        </h1>
        <div style="text-align:left">
            <a style="color:white; font-family: 'Courier New'" href="~/Index"> Return Home</a>
        </div>
        <form method="post" style="margin-top:20px ;background-color: #fff;padding: 20px;border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <div style="text-align:left;font-family:Courier new; color: red">@TempData["msg"]</div>
            <label style="font-family:Courier new;display: block;text-align: left;margin-bottom: 10px;" for="username">Email</label>
            <input style="width: 100%;padding: 10px;margin-bottom: 20px;border: none;border-radius: 5px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);" asp-for="Account.Email">

            <label style="font-family:Courier new;display: block;text-align: left;margin-bottom: 10px;"for="password">Password</label>
            <input id="passwordInput" type="password" style="width: 100%;padding: 10px;margin-bottom: 20px;border: none;border-radius: 5px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);" asp-for="Account.Password">
            <div style="text-align:left">
            <input type="checkbox" id="showPasswordCheckbox">
            <label style="font-family:Courier new;" for="showPasswordCheckbox">Show password</label>
            </div>
            <button style="margin-top: 20px;font-size:25px;background-color: #4CAF50;color: white;padding: 10px 20px;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease;" type="submit">
                Login
            </button>
            <div style="margin-top:20px">
                <label style="font-family:Courier new">If you don't have an account?</label>
                <a style="font-family:Courier new" href="~/Account/Register">Register</a>
                </div>
            <div style="margin-top:20px">
                <a style="font-family:Courier new" href="~/Account/ForgotPassword">Forgot password?</a>
            </div>
        </form>
    </div>
</body>
<script>
        var showPasswordCheckbox = document.getElementById("showPasswordCheckbox");
        var passwordInput = document.getElementById("passwordInput");

        showPasswordCheckbox.addEventListener('change', function() {
            if (this.checked) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
</script>