﻿#cart {
    width: 80%;
    margin: auto;
}

#cartTable {
    width: 100%;
    border-collapse: collapse;
}

    #cartTable th {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    #cartTable td {
        padding: 10px;
    }

#cartTotal {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

#checkoutBtn {
    display: block;
    margin: auto;
    margin-top: 20px;
}
