﻿#product-img img {
    width: 70%;
    filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.3));
    border-radius: 45px;
}

#form-content input[type="submit"], input[type="button"] {
    width: 100%;
    background-color: orange;
    color: #fff;
    margin-bottom: 15px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    #product-price

{
    color: orange;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}
